# Repository management
.svn

# git-deploy status file:
/.deploy

# Editors
*.kate-swp
*~
\#*#
.#*
.*.swp
.project
cscope.files
cscope.out
## NetBeans
nbproject*
project.index
## Sublime
sublime-*
sftp-config.json

# MediaWiki UI documentation
/docs/kss/static

# Operating systems
## Mac OS X
.DS_Store
## Windows
Thumbs.db

# Misc
.buildpath
.classpath
.idea
.metadata*
.settings
/favicon.ico
/static*
/tags
/.htaccess
/.htpasswd
node_modules/
vendor/
composer.lock
